@import "variables.css";
@import "fonts.css";

@import "weather.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Pretendard-Regular", sans-serif;
  background: var(--main-bg-color);
  color: var(--main-font-color);
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2.5em;
}

ul,
li {
  list-style: none;
}

p {
  font-size: 1em;
}

a {
  font-size: 1em;
  text-decoration: none;
}

/* 페이지 헤더 */
.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
  padding: 30px 0;
}
.page-title {
  user-select: none;
  font-family: "Cafe24Ssurround", sans-serif;
}
.page-header-desc {
  margin-top: 40px;
  color: var(--main-point-color);
  font-family: "MaplestoryOTFBold", sans-serif;
}

/* 다크모드 버튼 */
.dark-btn_container {
  position: absolute;
  top: 4vh;
  right: 5vh;
}
.dark-btn {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  font-size: 2em;
}

/* 영화 검색창 */
.search {
  width: 95%;
  display: flex;
  margin: 5vh auto;
  justify-content: center;
  padding: 20px 0;
}
#search-input {
  width: 25vh;
  margin-right: 1.5vh;
  padding: 15px;
  outline: none;
  border: 0;
  border-radius: 10px;
  background-color: #7c91b0ac;
  transition: all 0.3s ease-in-out;
  color: #f1f3f5;
}
#search-input::placeholder {
  color: #f1f3f5;
}
#search-input:focus {
  transform: scale(1.05);
}
.search-btn {
  padding: 5px;
  position: relative;
  border: none;
  min-width: 70px;
  min-height: 40px;
  background: linear-gradient(90deg, #e9d493 0%, #d1c04f 100%);
  border-radius: 1000px;
  color: #706042;
  cursor: pointer;
  box-shadow: 3px 3px 10px #aa9c76a3;
  font-weight: 700;
  transition: 0.3s;
}
.search-btn:hover {
  transform: scale(1.2);
}
.search-btn:hover:after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid #ffdc42;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

/* 카드 정렬 버튼 */
.page-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
}
.sorting-list {
  text-align: center;
}
.sorting-list li {
  display: inline-block;
}
.sorting-list button {
  padding: 25px;
  border: none;
  background-color: transparent;
  color: var(--main-point-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.sorting-list button:hover {
  color: var(--main-font-color);
  font-weight: 700;
  text-decoration: underline;
  transform: translateY(-7px);
}

/* 카드 리스트 */
.card-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
}
.movie-card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.24);
  margin: 2vh;
  padding: 20px;
  width: 30vh;
  min-height: 40vh;
  background: var(--card-bg-color);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
}
.movie-card:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.movie-card img {
  width: 100%;
  border-radius: 10px;
}
.movie-title {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 1.2em;
}
.movie-overview {
  margin-top: 1.2em;
  margin-bottom: 1em;
  text-align: justify;
}

/* 상단 이동 버튼 */
.top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 50;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--main-text-color);
  background-color: #ffffff34;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 6px var(--shadow-color);
  transition: 0.3s ease-in-out;
}
.top-btn:hover {
  background-color: #ffffff9a;
}

/* 페이지 푸터 */
.myinfo {
  display: flex;
  justify-content: center;
  margin: 7vh auto;
}
.myinfo li:not(:last-of-type) {
  margin-right: 2vh;
}
.myinfo a {
  color: var(--main-font-color);
}
.fa-github,
.fa-house-chimney {
  font-size: 1.5em;
}

/* 노트북(좁은 데스크탑) 화면 - grid 3칸*/
@media (min-width: 1301px) and (max-width: 1650px) {
  .card-list {
    grid-template-columns: repeat(3, auto);
  }
}

/* 태블릿 화면 */
@media (min-width: 768px) and (max-width: 1300px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  a {
    font-size: 1em;
  }

  .card-list {
    grid-template-columns: repeat(2, auto);
  }
}

/* 모바일 화면 */
@media (max-width: 767px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  p {
    font-size: 0.9em;
  }

  a {
    font-size: 0.9em;
  }

  .card-list {
    grid-template-columns: repeat(1, auto);
  }
}

/* 날씨 위젯 반응형 */
@media (max-width: 1000px) or (max-height: 900px) {
  .weather-container {
    display: none;
  }
}
