:root {
  --main-bg-color: linear-gradient(to bottom right, #e6e6e6, #a9bfdf);
  --main-font-color: #1a1a1a;
  --main-point-color: #5c7caa;
  --shadow-color: #a8aeba;
  --btn-bg-color: #526f99;
  --btn-point-color: #090d13;
  --btn-font-color: #e6e6e6;
}

.dark-mode {
  --main-bg-color: linear-gradient(to bottom right, #2b3643, #090d13);;
  --main-font-color: #dfdfdf;
  --main-point-color: #d4bf7c;
  --btn-bg-color: #40454e;
  --btn-point-color: #d4bf7c;
  --shadow-color: #030a11;
  }

.movie-card {
  --card-bg-color: #dddddd32;
}